@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Hero Section */

#hero {
    height: 700px;
    width: 100%;
    background: url(../images/Cuisine\ of\ the\ World.jpg) no-repeat center center/cover;
    opacity: 1.6;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


#hero h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 2px 1px rgb(68, 44, 10);
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
}

#hero h3 {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-bottom: 0;
    padding-bottom: 0;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    text-shadow: 2px 1px rgb(68, 44, 10);
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
    
}


.row {
    margin: 0;
}

/* Navbar Bootstrap*/

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(0 0 0) !important;
}

.navbar-nav {
    padding: 0 15px;
    margin-bottom: 10px;
    justify-content: space-between;
    width: 100%;
    font-size: 23px;
}
.navbar-nav a{
    font-size: 23px;
}
.navbar {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    padding-top: 0;
}
 
.navbar-toggler{
    margin: 5px 0;
}

button:focus {
    outline: 1px solid;
}

.navbar a:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.active {
    border-bottom: 1px solid #fff;
}


/* Main background color */

main {
    color: #2f2d2b;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}


.recipe {
    font-family: 'Roboto', sans-serif;
    padding: 20px 0;
    text-indent: 10px;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
}

.recipe h3 {
    padding: 20px;
}

/* Style header */

#jpn-header {
    font-family: 'Libre baskerville', sans-serif;
    text-decoration: underline;
    font-size: 60px;
    background-color: #f3f3f0;
  
    /* Create the gradient. */
    background-image: linear-gradient(90deg, rgb(247, 247, 241) 2%, rgb(232, 6, 6) 100%);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
    /* Older browsers */
    background-clip: text;
}

/* Ingredients */

.ingredients {
    padding: 15px 15px 0 15px;
}

.unordered-list {
    list-style-type: none;
    padding: 0 5px;
}

.unordered-list li {
    line-height: 1.8;
}

.ingredients img {
    position: inherit;
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.img-fluid {
    width: 95%;
}
/* Method */

#tips li {
    line-height: 1.8;
    margin-bottom: 25px;
}
ol li {
    line-height: 1.8;
    margin-bottom: 25px;
}

#varenyky li {
    line-height: 1.8;
    margin-bottom: 15px;
}

/* Feedback form */
.feedback {
    padding-bottom: 70px;
    padding-left: var(--bs-gutter-x, 2.90rem);
    width: 90%;
}

.feedback p {
    font-size: 12px;
}

.form-style {
    background-color: rgba(116, 113, 111, 0.2);
    padding: 20px;

}

.form-control {
    background: transparent;
    color: #fafafac2;
    border: 1px solid #fafafa;
    border-radius: 2px;

    
    width: 100%;
}

.btn-style {
    background-color: #423934b3;
    border: #74716f solid;
}

.btn-style:hover {
    background-color: #f4d1b948;
    border: #74716f solid;
    color: #2f2d2b;
}




/* Footer */

.footer-container  {
    height: 50px;
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    background-color: black;
}


#social {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 0;
    color: #fff;
}

#social a {
    color: #fff;
    font-size: 50px;
}

#social a:hover {
    color: #9e9d9bf3;
    border: 0;
}

/* Phrase */

.container4 {
    margin: 100px 0;
    padding-right: 0;
}

.phrase {
    text-align: center;
    font-family: "Caveat", Arial, Helvetica, sans-serif;
    font-size: 100px;
}


@media (min-width: 600px) and (max-width: 900px) {
.block-on-tablet {
        display: block;
    }

.block-on-tablet {
    display: none;
}

}

#social a {
    color: #fff;
    font-size: 20px;
}

@media screen and (max-width: 320px) {
    #hero {
        width: 100%;
        height: 400px;
    }

    #hero h2 {
        font-size: 1.4rem;
        padding-bottom: 450px;
    }

    #hero h3 {
        font-size: .8rem;
        padding-bottom: 530px;
        padding-top: 30px;    
    }

    .container-welcome {
        padding-left: 20px;
        padding-right: 20px;
    }

    .container1 {
        flex-direction: column;
    }
}


@media screen and (min-width: 321px) and (max-width: 375px) {
    #hero {
        width: 100%;
        height: 400px;
    }

    #hero h2 {
        font-size: 1.8rem;
        padding-bottom: 450px;
    }

    #hero h3 {
        font-size: .8rem;
        padding-bottom: 490px;
    }

    .container-welcome {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media screen and (min-width: 376px) and (max-width: 425px) {
    #hero {
        width: 100%;
        height: 420px;
    }

    #hero h2 {
        font-size: 2.1rem;
        padding-bottom: 450px;
    }

    #hero h3 {
        font-size: 1rem;
        padding-bottom: 440px;
    }

    .container-welcome {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    #hero {
        width: 100%;
        height: 450px;
    }

    #hero h2 {
        font-size: 2.6rem;
        padding-bottom: 420px;
    }

    #hero h3 {
        font-size: 1.3rem;
        padding-bottom: 410px;
    }

    .container-welcome {
        padding-left: 35px;
        padding-right: 35px;
    }

}  


@media screen and (min-width: 769px) and (max-width: 1024px) {
    #hero {
        width: 100%;
        height: 600px;
    }

    #hero h2 {
        font-size: 3rem;
        padding-bottom: 300px;
    }

    #hero h3 {
        font-size: 1.6rem;
        padding-bottom: 260px;    
    }

    .container-welcome {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #hero {
        width: 100%;
        height: 700px;
    }

    #hero h2 {
        font-size: 3.4rem;
        padding-bottom: 260px;
    }

    #hero h3 {
        font-size: 2rem;
        padding-bottom: 175px;
    }

    .container-welcome {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 1441px) {
    #hero {
        width: 100%;
        height: 700px;
    }

    #hero h2 {
        font-size: 5rem;
        padding-bottom: 550px;
    }

    #hero h3 {
        font-size: 2.8rem;
        padding-bottom: 470px;
    }
}