body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Hero Section */

#hero {
    height: 700px;
    width: 100%;
    background: url(../images/Cuisine\ of\ the\ World.jpg) no-repeat center center/cover;
    opacity: 1.6;
}

#hero h2 {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 7em; 
    text-align: center;
    
}

#hero h3 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 2em; 
    text-align: center;
    
}

/* Nav Bar */

#menu {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding-left: 0;
    padding-top: 8px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 50px;
    width: 100%;
    margin: 0;
    list-style-type: none;
}

#menu a {
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom:  12px;
    font-size: 23px;
}

.hover a:hover {
    border-bottom: 1px solid #fff;
}

/* Main Element */

.container1 {
    display: flex;
    margin-left: 40px;
    margin-top: 100px;
    margin-right: 0;
}

.japanese-image {
    max-width: 600px;
    float: right;
    margin-right: 100px;
}

.japan {
    text-decoration: underline;
    padding-bottom: 10px;
    text-align: center;
    margin-right: 200px;
}

.container1 p {
    margin-right: 200px;
}

.container2 {
    display: flex;
    margin-left: 40px;
    margin-top: 100px;
    margin-right: 0px;
}

.ukranian-image {
    height: 300px;
    max-width: 600px;
    float: left;
    margin-left: 100px;
}

.ukraine {
    text-decoration: underline;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 200px;
    margin-right: 60px;
}

.container2 p {
    margin-left: 200px;
    margin-right: 60px;
}

.container3 {
    display: flex;
    margin-right: 40px;
    margin-top: 100px;
    margin-left: 0px;
}

.moroccan-image {
    height: 300px;
    max-width: 600px;
    float: right;
    margin-right: 100px;
}

.morocco {
    text-decoration: underline;
    padding-bottom: 10px;
    text-align: center;
    margin-right: 200px;
    margin-left: 60px;
}

.container3 p {
    margin-right: 200px;
    margin-left: 60px;
}

/* Footer */

.footer-container  {
    height: 50px;
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    background-color: black;
}

.footer-container p {
    margin-left: 0px;
    color: #fff;
}

#social {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

#social a {
    color: #fff;
    font-size: 50x;
}

