@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

/* Hero Section */

#hero {
    height: 700px;
    width: 100%;
    /* Image taken from Google Images */
    background: url(../images/Cuisine\ of\ the\ World.jpg) no-repeat center center/cover;
    opacity: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#hero h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 2px 1px rgb(68, 44, 10);
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
}

#hero h3 {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-bottom: 0;
    padding-bottom: 0;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    text-shadow: 2px 1px rgb(68, 44, 10);
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
    
}

/* Nav Bar */

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(0 0 0) !important;
}


.navbar-nav {
    padding: 0 15px;
    margin-bottom: 10px;
    justify-content: space-between;
    width: 100%;
    font-size: 23px;
}
.navbar {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    padding-top: 0;
}
 .dropdown-menu {
    background-color: #343a40;
    padding: 0;
}
.dropdown-item {
    color: #dee2e6;
    padding: 15px;
    font-size: 23px;
}

button:focus {
    outline: 5px solid;
    box-shadow: 0 0 0 .25rem;
}

.navbar a:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

/* Welcome */

#welcome-header {
    font-family: 'Libre baskerville', sans-serif;
    text-decoration: underline;
    font-size: 60px;
    background-color: #f3d583;
  
    /* Create the gradient. */
    background-image: linear-gradient(90deg, rgb(214, 146, 20) 2%, rgba(124, 84, 10, 0.917) 100%);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
    /* Older browsers */
    background-clip: text;
}

#jpn-header {
    font-family: 'Libre baskerville', sans-serif;
    font-size: 1.5rem;
    background-color: #f40c0c;
  
    /* Create the gradient. */
    background-image: linear-gradient(90deg, rgba(245, 27, 7, 0.996) 2%, rgb(245, 234, 234) 100%);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
    /* Older browsers */
    background-clip: text;
}

#jpn-header a:hover {
    color: black;
    text-decoration: underline;
    -webkit-text-fill-color: rgb(42, 28, 7);
}

#ukr-header {
    font-family: 'Libre baskerville', sans-serif;
    text-decoration: underline;
    font-size: 1.5rem;
    background-color: #FBF611;
  
    /* Create the gradient. */
    background-image: linear-gradient(90deg, rgba(251, 246, 17, 1) 2%, rgba(8, 68, 251, 1) 100%);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
    /* Older browsers */
    background-clip: text;
}

#ukr-header a:hover {
    color: black;
    text-decoration: underline;
    -webkit-text-fill-color: rgb(42, 28, 7);
}

#mor-header {
    font-family: 'Libre baskerville', sans-serif;
    text-decoration: underline;
    font-size: 1.5rem;
    background: linear-gradient(0deg, rgb(223, 6, 6) 2%, rgb(37, 156, 8) 100%);
     /* Set the background size and repeat properties. */
     background-size: 100%;
     background-repeat: repeat;
   
     /* Use the text as a mask for the background. */
     /* This will show the gradient as a text color rather than element bg. */
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; 
     -moz-background-clip: text;
     -moz-text-fill-color: transparent;
     
     /* Older browsers */
     background-clip: text;
}

#mor-header a:hover {
    color: black;
    text-decoration: underline;
    -webkit-text-fill-color: rgb(42, 28, 7);
}

main {
    color: #2f2d2b;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.container-welcome {
    margin-top: 100px;
    margin-bottom: 60px;
    padding: 0;
    text-align: center;
}

.welcome, h3 {
    margin-bottom: 50px;
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.opening p {
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.container-welcome p {
    font-family: "Libre Baskerville";
}

/* Main Element */
.row {
    margin: 0;
}



.container1 {
    display: flex;
    padding: 0 20px;
    margin: 100px 0;
}

.japan {
    text-indent: 10px;
    text-decoration: underline;
    text-align: center;
    font-family: "Libre Baskerville";
}

.japanese-image {
    margin-top: 50px;
}

.container1 p {
    font-family: "Libre Baskerville";
    text-indent: 10px;
}

.container2 {
    display: flex;
    padding: 0 20px;
    margin-left: 0px;
    margin-bottom: 100px;
    text-indent: 10px;
}

.ukraine {
    text-decoration: underline;
    text-align: center;
    font-family: "Libre Baskerville";
    padding: 15px;
}

.ukranian-image {
    margin-top: 50px;
    padding-left: 20px;
}

.container2 p {
    font-family: "Libre Baskerville";
}

.container3 {
    display: flex;
    padding: 0 20px;
    margin: 100px 0 0 0;
    text-indent: 10px;

}

.morocco {
    text-decoration: underline;
    text-align: center;
    font-family: "Libre Baskerville";
}

.moroccan-image {
    margin-top: 50px;
    padding-right: 10px;
}

.container3 p {
    font-family: "libre Baskerville";
}

/* Phrase */

.container4 {
    padding: 100px 0;
    margin: 0;
}

.phrase {
    text-align: center;
    font-family: "Caveat", Arial, Helvetica, sans-serif;
    font-size: 100px;
}

/* Footer */

.footer-container  {
    height: 50px;
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    background-color: black;
}


#social {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 0;
    color: #fff;
}

#social a {
    color: #fff;
    font-size: 20px;
}

#social a:hover {
    color: #9e9d9bf3;
    border: 0;
}


@media screen and (max-width: 320px) {
    #hero {
        width: 100%;
        height: 400px;
    }

    #hero h2 {
        font-size: 1.4rem;
        padding-bottom: 450px;
    }

    #hero h3 {
        font-size: .8rem;
        padding-bottom: 530px;
        padding-top: 30px;    
    }

    .container-welcome {
        padding-left: 20px;
        padding-right: 20px;
    }

    .container1 {
        flex-direction: column;
    }

    #social a {
        color: #fff;
        font-size: 20px;
    }
}


@media screen and (min-width: 321px) and (max-width: 375px) {
    #hero {
        width: 100%;
        height: 400px;
    }

    #hero h2 {
        font-size: 1.8rem;
        padding-bottom: 450px;
    }

    #hero h3 {
        font-size: .8rem;
        padding-bottom: 490px;
    }

    .container-welcome {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media screen and (min-width: 376px) and (max-width: 425px) {
    #hero {
        width: 100%;
        height: 420px;
    }

    #hero h2 {
        font-size: 2.1rem;
        padding-bottom: 450px;
    }

    #hero h3 {
        font-size: 1rem;
        padding-bottom: 440px;
    }

    .container-welcome {
        padding-left: 20px;
        padding-right: 20px;
    }

    #social a {
        color: #fff;
        font-size: 20px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    #hero {
        width: 100%;
        height: 450px;
    }

    #hero h2 {
        font-size: 2.6rem;
        padding-bottom: 420px;
    }

    #hero h3 {
        font-size: 1.3rem;
        padding-bottom: 410px;
    }

    .container-welcome {
        padding-left: 35px;
        padding-right: 35px;
    }

}  


@media screen and (min-width: 769px) and (max-width: 1024px) {
    #hero {
        width: 100%;
        height: 600px;
    }

    #hero h2 {
        font-size: 3rem;
        padding-bottom: 300px;
    }

    #hero h3 {
        font-size: 1.6rem;
        padding-bottom: 260px;    
    }

    .container-welcome {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #hero {
        width: 100%;
        height: 700px;
    }

    #hero h2 {
        font-size: 3.4rem;
        padding-bottom: 260px;
    }

    #hero h3 {
        font-size: 2rem;
        padding-bottom: 175px;
    }

    .container-welcome {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 1441px) {
    #hero {
        width: 100%;
        height: 700px;
    }

    #hero h2 {
        font-size: 5rem;
        padding-bottom: 550px;
    }

    #hero h3 {
        font-size: 2.8rem;
        padding-bottom: 470px;
    }
}